/* 메인 */
.main {
  width: 340px;
  height: 166px;
  margin: 230px 530px;
}

.img {
  width: 64px;
  height: 64px;
  border-radius: 70%;
  float: left;
  margin: 10px;
}

.woman-btn,
.man-btn {
  width: 340px;
  height: 83px;
  position: absolute;
}

.man-btn {
  margin-top: 83px;
}

.off-btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #dbdbdb;
  border: 1px solid #eaeaea;
  float: left;
  margin: 55px 13px 0px 55px;
}

.on-btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #4cfe88;
  border: 1px solid #eaeaea;
  float: left;
  margin: 55px 13px 0px 55px;
}

/* flex 지원 환경 */
@supports (display: flex) {
  .main {
    display: flex;
    flex-flow: column nowrap;
  }

  .group2 {
    order: -1;
  }
  
  .man-btn {
    margin-top: 0px;
  }
}
